* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  overflow: hidden;
}
.col_b {
  color: #2693d4;
}
.cobo_b {
  color: #2693d4;
  border-bottom: solid 2px #2693d4;
}
.bor_b {
  border-bottom: solid 3px #2693d4;
  color: #2693d4;
}
.title {
  line-height: 20px;
  margin: 20px 0 5px 0;
  font-size: 14px;
}
.mar_no {
  margin-right: 0px!important;
}
.aboutus {
  background-color: #f8f8f8;
  padding-bottom: 40px;
}
.aboutus p {
  line-height: 25px;
}
.aboutus p.p1 {
  line-height: 85px;
  font-size: 18px;
}
