.page {
  margin-bottom: 150px;
  text-align: center;
}
.page span {
  display: inline-block;
  width: 38px;
  height: 35px;
  line-height: 35px;
  border: solid 1px #666;
  margin-right: 10px;
  cursor: pointer;
}
.page .up,
.page .down {
  width: 68px;
  color: #666;
}
.page .bord {
  border: solid 1px #2693d4;
  color: #2693d4;
}
.page .first {
  width: 52px;
  color: #666;
}
