* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  overflow: hidden;
}
.col_b {
  color: #2693d4;
}
.cobo_b {
  color: #2693d4;
  border-bottom: solid 2px #2693d4;
}
.bor_b {
  border-bottom: solid 3px #2693d4;
}
.title {
  line-height: 20px;
  margin: 20px 0 5px 0;
  font-size: 14px;
}
.mar_no {
  margin-right: 0px!important;
}
.header {
  height: 35px;
  line-height: 35px;
  background-color: #f7f7f7;
}
.header a {
  color: #1abcff;
  margin: 0 10px;
}
.header .cart {
  display: block;
  width: 21px;
  height: 17px;
  background-image: url(../imgs/cart.png);
  margin-top: 10px;
}
.header .cart_num {
  color: #2693d4;
  line-height: 35px;
}
.header .fws {
  margin: 0 0 0 5px;
}
.header span {
  margin: 2px;
}
.search {
  overflow: hidden;
  height: 90px;
  padding-top: 25px;
  width: 1200px;
  margin: 0 auto;
}
.search .logo {
  margin-top: 10px;
  width: 128px;
  height: 56px;
  background-image: url(../imgs/logo.jpg);
  background-size: cover;
  float: left;
}
.search .city {
  width: 120px;
  float: left;
  line-height: 20px;
  margin: 20px  0 0 30px;
}
.search .input {
  float: left;
  margin-left: 70px;
}
.search .input span {
  margin: 0 5px;
}
.search .input input {
  float: left;
  margin: 5px 0;
  width: 470px;
  height: 37px;
  border: solid 2px #2693d4;
  padding-left: 10px;
}
.search .input button {
  float: left;
  margin-top: 5px;
  width: 100px;
  height: 41px;
  background-color: #2693d4;
  background-image: url(../imgs/search.png);
  background-repeat: no-repeat;
  background-position: center;
}
.search .tel {
  float: right;
  margin: 15px 0 0 110px;
}
.search .tel .tel_icon {
  float: left;
  display: inline-block;
  width: 45px;
  height: 50px;
  background-image: url(../imgs/tel.gif);
}
.search .tel .tel_num {
  float: left;
  font-size: 10.8px;
  line-height: 50px;
  color: #a3a3a3;
  font-weight: bold;
  margin-left: 5px;
  letter-spacing: 1px;
}
.guide {
  overflow: hidden;
  width: 100%;
  height: 45px;
  border-bottom: solid 1px #2693d4;
  margin-top: 5px;
}
.guide a {
  float: left;
  width: 80px;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 60px;
}
.aboutus {
  background-color: #f8f8f8;
  padding-bottom: 40px;
}
.aboutus p {
  line-height: 25px;
}
.aboutus p.p1 {
  line-height: 85px;
  font-size: 18px;
}
.footer {
  width: 100%;
  height: 45px;
  text-align: center;
  background-color: #ccc;
  line-height: 45px;
}
.shoppingcart {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.shoppingcart .cart {
  color: #666;
}
.shoppingcart .cart p {
  line-height: 30px;
  padding-left: 65px;
}
.shoppingcart .cart p.cart_title {
  padding-left: 0;
}
.shoppingcart .cart p.cart_title span {
  display: inline-block;
  width: 77px;
  margin: 0 65px;
}
.shoppingcart .cart .cartlist {
  width: 1155px;
  height: 41px;
  line-height: 41px;
  background-color: #f7f7f7;
  margin-top: 25px;
  padding: 17.5px 22.5px;
  margin-bottom: 25px;
}
.shoppingcart .cart .cartlist .cart_logo {
  float: left;
  width: 41px;
  height: 41px;
  // background-image: url(../imgs/shoplogo.jpg);
  // background-size: cover;
  margin-right: 200px;
}
.shoppingcart .cart .cartlist span {
  float: left;
  display: block;
  width: 160px;
  margin-right: 45px;
}
.shoppingcart .cart .cartlist span.mar_no {
  width: 50px!important;
  text-align: center;
}
.shoppingcart .cart .cartlist .addorreduce {
  float: left;
  overflow: hidden;
  width: 80px;
  margin: 10px 135px 0 10px;
}
.shoppingcart .cart .cartlist .addorreduce span {
  float: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 18px;
  font-size: 20px;
  text-align: center;
  margin-right: 0;
  background-color: #bdbdbd;
}
.shoppingcart .cart .cartlist .addorreduce input {
  float: left;
  width: 30px;
  height: 20px;
  text-align: center;
}
.shoppingcart .cart .total {
  text-align: right;
  margin-bottom: 5px;
}
.shoppingcart .cart .total .font_b {
  font-size: 20px;
  color: #2693d4;
}
.shoppingcart .cart .calculate {
  text-align: right;
  margin-bottom: 50px;
}
.shoppingcart .cart .calculate a {
  display: inline-block;
  width: 100px;
  height: 28px;
  line-height: 28px;
  border: solid 1px #2693d4;
  color: #2693d4;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
}
.hot {
  width: 1200px;
  margin: 0 auto;
}
.hot .ser_li {
  overflow: hidden;
  margin-bottom: 90px;
  border_bottom: solid 1px #ddd;
  padding: 6px;
}
.hot .ser_li li {
  float: left;
  border: solid 1px #ddd;
  margin: 15px;
  height: 159px;
  width: 235px;
  padding: 13px;
}
.hot .ser_li li .p_1 {
  font-size: 18px;
  margin-bottom: 10px;
}
.hot .ser_li li .p_2 {
  line-height: 27px;
}
.hot .ser_li li .charge {
  font-size: 32px;
  font-weight: bold;
  color: #2693d4;
  letter-spacing: 2px;
  text-align: center;
}
.hot .ser_li li .border {
  display: block;
  width: 168px;
  height: 8px;
  background-image: url(../imgs/border.png);
  background-size: cover;
}
.hot .ser_li li .yuanjia {
  text-decoration: line-through;
}
.hot .ser_li li .look {
  margin-left: 30px;
  color: #2693d4;
}
.all {
  height: 35px;
  line-height: 35px;
  border-bottom: solid 1px #ddd;
  padding-left: 65px;
  color: #2693d4;
  margin-bottom: 10px;
}
