* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  overflow: hidden;
}
.col_b {
  color: #2693d4;
}
.cobo_b {
  color: #2693d4;
  border-bottom: solid 2px #2693d4;
}
.bor_b {
  border-bottom: solid 3px #2693d4;
  color: #2693d4;
}
.title {
  line-height: 20px;
  margin: 20px 0 5px 0;
  font-size: 14px;
}
.mar_no {
  margin-right: 0px!important;
}
.header {
  height: 35px;
  line-height: 35px;
  background-color: #f7f7f7;
}
.header a {
  color: #1abcff;
  margin: 0 10px;
}
.header .cart {
  display: block;
  width: 21px;
  height: 17px;
  background-image: url(../imgs/cart.png);
  margin-top: 10px;
}
.header .cart_num {
  color: #2693d4;
  line-height: 35px;
}
.header .fws {
  margin: 0 0 0 5px;
}
.header span {
  margin: 2px;
}
.search {
  overflow: hidden;
  height: 90px;
  padding-top: 25px;
  width: 1200px;
  margin: 0 auto;
}
.search .logo {
  margin-top: 10px;
  width: 128px;
  height: 56px;
  background-image: url(../imgs/logo.jpg);
  background-size: cover;
  float: left;
  cursor: pointer;
}
.search .city {
  width: 120px;
  float: left;
  line-height: 20px;
  margin: 20px  0 0 30px;
}
.search .input {
  float: left;
  margin-left: 70px;
}
.search .input span {
  margin: 0 5px;
  cursor: pointer;
}
.search .input input {
  float: left;
  margin: 5px 0;
  width: 470px;
  height: 37px;
  border: solid 2px #2693d4;
  padding-left: 10px;
}
.search .input button {
  float: left;
  margin-top: 5px;
  width: 100px;
  height: 41px;
  background-color: #2693d4;
  background-image: url(../imgs/search.png);
  background-repeat: no-repeat;
  background-position: center;
}
.search .tel {
  float: right;
  margin: 15px 0 0 110px;
}
.search .tel .tel_icon {
  float: left;
  display: inline-block;
  width: 45px;
  height: 50px;
  background-image: url(../imgs/tel.gif);
}
.search .tel .tel_num {
  float: left;
  font-size: 10.8px;
  line-height: 50px;
  color: #a3a3a3;
  font-weight: bold;
  margin-left: 5px;
  letter-spacing: 1px;
}
.guide {
  overflow: hidden;
  width: 100%;
  height: 45px;
  border-bottom: solid 1px #2693d4;
  margin-top: 5px;
}
.guide a {
  float: left;
  width: 80px;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 60px;
}
.aboutus {
  background-color: #f8f8f8;
  padding-bottom: 40px;
}
.aboutus p {
  line-height: 25px;
}
.aboutus p.p1 {
  line-height: 85px;
  font-size: 18px;
}
.footer {
  width: 100%;
  height: 45px;
  text-align: center;
  background-color: #ccc;
  line-height: 45px;
}
.excle {
  width: 100%;
  background-color: #f7f7f7;
  border-collapse: collapse;
  margin-bottom: 25px;
}
.excle tr {
  height: 20px;
  line-height: 20px;
  border: solid 1px #ddd;
}
.excle td {
  border: solid 1px #ddd;
}
.excle td.short {
  width: 100px;
  text-align: center;
  font-size: 16px;
}
.excle td.long {
  padding: 10px 20px;
}
.excle td select {
  width: 85px;
  height: 20px;
  border: solid 1px #ddd;
  border-radius: 3px;
  margin-right: 5px;
  background-color: #f7f7f7;
}
.excle td span {
  margin-right: 20px;
  display: block;
  float: left;
  cursor: pointer;
}
.excle td .all {
  padding: 0 10px;
  background-color: #2693d4;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin-right: 20px;
}
.order {
  width: 100%;
  background-color: #f7F7F7;
  height: 40px;
  line-height: 40px;
  border: solid 1px #ddd;
}
.order li {
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
  position: relative;
}
.order li.colligate {
  width: 107px;
  background-color: #2693d4;
  color: #fff;
}
.order li .arr {
  position: absolute;
  top: 12px;
  left: 75px;
  width: 17px;
  height: 13px;
  display: block;
  background-image: url(../imgs/arr.png);
  background-size: cover;
}
.page {
  margin-bottom: 150px;
  text-align: center;
}
.page span {
  display: inline-block;
  width: 38px;
  height: 35px;
  line-height: 35px;
  border: solid 1px #666;
  margin-right: 10px;
  cursor: pointer;
}
.page .up,
.page .down {
  width: 68px;
  color: #666;
}
.page .bord {
  border: solid 1px #2693d4;
  color: #2693d4;
}
.page .first {
  width: 52px;
  color: #666;
}
.wares {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.wares .intro {
  color: #666;
  margin: 10px 0 22px 0;
  overflow: hidden;
}
.wares .intro .img {
  float: left;
  display: block;
  width: 525px;
  height: 393px;
  margin-right: 32px;
  background-size: cover;
  background-image: url(../imgs/intro.jpg);
}
.wares .intro h2 {
  font-size: 22px;
  color: #000;
}
.wares .intro p {
  line-height: 50px;
}
.wares .intro .branch {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  text-align: center;
  margin-top: 5px;
  border: solid 1px #2693d4;
  color: #2693d4;
}
.wares .intro .market {
  width: 368px;
  height: 40px;
  background-color: #f7f7f7;
  line-height: 20px;
  padding: 20px 10px;
}
.wares .intro .market p {
  line-height: 20px;
}
.wares .intro .market p .p_b {
  text-decoration: line-through;
}
.wares .intro .market p .red {
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.wares .intro .addorreduce {
  display: inline-block;
  overflow: hidden;
  width: 130px;
  margin-top: 12px;
}
.wares .intro .addorreduce span {
  display: inline-block;
  width: 30px;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  text-align: center;
  margin-right: 0;
  border: solid 1px #ddd;
  background-color: #f7f7f7;
  vertical-align: bottom;
}
.wares .intro .addorreduce input {
  display: inline-block;
  width: 50px;
  height: 25px;
  text-align: center;
  margin: 0 -6px;
  border: solid 1px #ddd;
}
.wares .intro .buttons button {
  display: inline-block;
  width: 94px;
  height: 25px;
  border: solid 1px #2693d4;
  background-color: #fff;
  color: #2693d4;
}
.wares .intro .buttons button.bg_b {
  background-color: #2693d4;
  color: #fff;
  margin: 15px 10px 0 50px;
}
.wares .fwnr {
  color: #666;
  margin: 38px 0 70px 0;
}
.wares .fwnr .main {
  border: solid 1px #ddd;
  border-top: none;
  padding: 38px 24px 0 24px;
}
.wares .fwnr .main li {
  margin: 0 0  38px 0 ;
}
.wares .ask {
  position: absolute;
  right: 0;
  top: 100px;
  width: 198px;
  height: 235px;
  border: solid 1px #2693d4;
  text-align: center;
  background-color: #bddef2;
}
.wares .ask .bg_w {
  background-color: #fff;
}
.wares .ask h2 {
  font-size: 22px;
  color: #000;
  padding: 24px 0;
}
.wares .ask button {
  width: 88px;
  height: 28px;
  background-color: #fff;
  border: solid 1px #2693d4;
  margin: 22px;
}
.wares .ask .look {
  width: 110px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  background-color: #2693d4;
  margin: 22px auto;
}
