* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  overflow: hidden;
}
.col_b {
  color: #2693d4;
}
.cobo_b {
  color: #2693d4;
  border-bottom: solid 2px #2693d4;
}
.bor_b {
  border-bottom: solid 3px #2693d4;
  color: #2693d4;
}
.title {
  line-height: 20px;
  margin: 20px 0 5px 0;
  font-size: 14px;
}
.mar_no {
  margin-right: 0px!important;
}
.login {
  width: 1200px;
  margin: 0 auto;
  height: 435px;
  background-color: #fff;
  margin: 55px auto 170px auto ;
}
.login .submit {
  float: left;
  width: 285px;
  margin: 50px 170px 0 150px ;
}
.login .submit p {
  overflow: hidden;
  margin-bottom: 17px;
  text-align: center;
}
.login .submit p input {
  width: 275px;
  height: 34px;
  border: solid 1px #ddd;
  border-radius: 3px;
  padding-left: 5px;
}
.login .submit p input.short {
  float: left;
  width: 173px;
}
.login .submit p .notice {
  font-size: 12px;
}
.login .submit p .yz_pic {
  display: inline-block;
  width: 85px;
  height: 35px;
  background-size: cover;
  background-image: url(../imgs/yanzhengma.jpg);
}
.login .submit select {
  width: 78px;
  height: 34px;
  float: left;
  margin-right: 15px;
  border: solid 1px #ddd;
  border-radius: 3px;
  padding-left: 5px;
}
.login .submit select.mar {
  margin: 0 20px;
}
.login .submit button {
  width: 280px;
  height: 34px;
  border: solid 1px #2693d4;
  border-radius: 5px;
  background-color: #fff;
  color: #2693d4;
  font-size: 16px;
}
.login .submit button.clickget {
  float: left;
  width: 95px;
  margin-left: 10px;
}
.login .line {
  float: left;
  height: 262px;
  border-left: solid 1px #ddd;
  margin-top: 80px;
}
.login .boy {
  float: left;
  padding: 55px 0 0 190px;
}
.login .boy a {
  display: block;
  margin: 24px 0 20px 0;
  color: #2693d4;
}
.login .boy .people {
  display: block;
  width: 168px;
  height: 197px;
  background-image: url(../imgs/login.png);
  background-size: cover;
}
