/* 旋转样式 */
* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  overflow: hidden;
}
.col_b {
  color: #2693d4;
}
.cobo_b {
  color: #2693d4;
  border-bottom: solid 2px #2693d4;
}
.bor_b {
  border-bottom: solid 3px #2693d4;
  color: #2693d4;
}
.title {
  line-height: 20px;
  margin: 20px 0 5px 0;
  font-size: 14px;
}
.mar_no {
  margin-right: 0px!important;
}
.list .or_li {
  margin-top: 20px;
  background-color: #f7f7f7;
  border-bottom: solid 1px #ddd;
  margin-bottom: 40px;
}
.list .or_li li {
  height: 73px;
  width: 1198;
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}
.list .or_li li span {
  color: #2693d4;
}
.list .or_li li.li1 div {
  float: left;
  width: 275px;
  line-height: 73px;
  text-align: center;
  margin-right: 160px;
  position: relative;
}
.list .or_li li.li1 div .span_red {
  position: absolute;
  bottom: -20px;
  right: 100px;
  color: red;
}
.list .or_li li.li1 div .span_red .sanjiao {
  margin-top: -2px;
  display: inline-block;
  width: 9px;
  height: 6px;
  background-image: url(../imgs/snajiao.png);
  background-size: cover;
}
.list .or_li li.li2 div {
  float: left;
  width: 210px;
  line-height: 73px;
  text-align: center;
  margin-right: 100px;
}
