<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>信达-订单详情</title>
	<link rel="stylesheet" href="../css/order.css"/>
</head>
<body>
<!-- 头部 -->
<div id="app">
    <vue-header></vue-header>
    <vue-header-logo></vue-header-logo>
	<!-- 主要内容部分-->
	<div class="order">
		<p class="title">首页/支付</p>
		<div class="list">
			<p class="title_r">订单详情</p>
			<ul class="or_li">
				<li class="li1">
					<div class="order-num">订单编号：<span>{{da.businessNo}}</span></div>
					<div>创建时间：{{time}}</div>
					<div class="mar_no">订单金额：￥{{(da.price/100).toFixed(2)}}元
						<span class="span_red" @click="yincang()">订单明细&nbsp;
							<span class="sanjiao"></span>
						</span>
					</div>
				</li>
				<li class="li2" v-if="hiden" v-for="item in detail">
					<div>服务名称：{{item.serviceName}}</div>
					<div>单价：<span>￥{{(item.unitPrice/100).toFixed(2)}}元</span> </div>
					<div>数量：<span>{{item.buyNum}}</span></div>
					<div class="mar_no">服务总额：<span>￥{{(item.totalPrice/100).toFixed(2)}}元</span></div>
				</li>
				
			</ul>
		</div>
		<div class="paytype">
			<p class="title_r">支付方式</p>
			<div class="type">
				<p>非网银支付</p>
				<div class="clear box" @click="paystyle(1)">
					<input type="radio" name="boxes" class="f-l" value="1" >
					<div class="bank"></div>
				</div>
				<p>平台支付</p>
				<ul>
					<li class="box" @click="paystyle(2)">
						<input type="radio" name="boxes" class="f-l" value="2">
						<div class="weixin"></div>
						<div class="wxpay">微信支付</div>
					</li>
					<li class="box" @click="paystyle(3)">
						<input type="radio" name="boxes" class="f-l" value="3">
						<div class="zfb"></div>
						<div class="wxpay">支付宝支付</div>
					</li>
				</ul>
				<p>自助转账<span>因限额不能支付时，建议使用自助转</span></p>
				<div class="zs_bank" @click="paystyle(4)">
					<input type="radio" name="boxes" class="f-l" value="4">
					<div class="zhaoshang"></div>
					<div class="f-l ps">
						<p>开户账号：<span>110916853310605</span></p>
						<p>开户名：<span>北京爱蓝领网络科技有限公司</span></p>
						<p>开户银行：<span>招商银行股份有限公司北京东三环支行</span></p>
					</div>
				</div>
				<span class="red">注：转账时请将订单编号备注在付款信息里：转账完成后，请通知客服。</span>
			</div>
		</div>
		<p class="total">金额总计&nbsp;<span class="font_b">￥{{(da.price/100).toFixed(2)}}</span></p>
		<p class="calculate">
			<a href="pay.html">去结算</a>
		</p>
	</div>
	<!--关于我们 脚部 -->
	<vue-footer></vue-footer>
    </div>
</body>
	<script id="mainScript" src="../js/require.js" data-main="../js/src/order"></script>
	<script src="../js/config.js"></script>
	<!-- <script src="../js/src/order.js"></script> -->
</html>