<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>信达-店铺首页</title>
	<link rel="stylesheet" href="../css/shopindex.css"/>
</head>
<body>
<!-- 头部 -->
<div id="app">
    <vue-header></vue-header>
    <vue-header-logo></vue-header-logo>
	<!-- 主要内容部分-->
	<div class="wares">
		<div class="top">
			<span></span>
			<div>
				<h2>{{name}}</h2>
				<p>{{regionName}}</p>
			</div>
		</div>
		<div class="bottom">
			<div class="com_intro">
				<div class="com_top">
					<p class="com_title">公司介绍</p>
					<p>{{providerInfo}}</p>
				</div>
				<ul>
					<li>
						<span class="com_icon1"></span>
						<p>平台担保</p>
					</li>
					<li>
						<span class="com_icon2"></span>
						<p>优质服务</p>
					</li>
					<li>
						<span class="com_icon3"></span>
						<p>过程监督</p>
					</li>
					<li>
						<span class="com_icon4"></span>
						<p>增值服务</p>
					</li>
				</ul>
			</div>
			<div class="con_right">
				<div class="ser_content">
					<p class="title_r">
						<span :class="index == spanKey3?'cobo_b':''" @click="cobo(index)" v-for="(service,index) in services">{{service}}</span>
					</p>
					<h2>服务内容</h2>
					<ul class="ser_li" v-show="yi">
						<li v-for="product in products">
							<p class="p_1">{{product.serviceName}}</p>
							<span class="border"></span>
							<p class="p_2">{{product.serviceInfo}}</p>
							<p class="charge">￥&nbsp;{{product.price}}</p>
							<p>
								<span class="yuanjia">原价：￥<span>{{product.marketPrice}}</span>&nbsp;</span>
								<span class="look">查看详情>></span>
							</p>
						</li>
					</ul>
					<ul class="ser_li" v-show="er">
						<p>工作时间：{{workTime}}</p>
						<p class="zixun">qq咨询：{{qq}}</p>
						<p class="zixun">电话咨询：{{cellphone}}</p>
					</ul>
					<ul class="ser_li" v-show="san">
						<img :src='"http://115.182.107.203:8088/xinda/pic"+businessCertPath' alt="" />
					</ul>
				</div>
				<!-- 上一页下一页 -->
					<div class="page">
						<span class="first">首页</span>
						<span class="up">上一页</span>
						<span class="bord">1</span>
						<span class="down">下一页</span>
						<span class="first">尾页</span>
					</div>
			</div>
			
		</div>
	</div>
	<!--关于我们 脚部 -->
	<vue-footer></vue-footer>
    </div>
</body>
	<script id="mainScript" src="../js/require.js" data-main="../js/src/shopindex"></script>
	<script src="../js/config.js"></script>
</html>