<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>信达-商品详情</title>
	<link rel="stylesheet" href="../css/wares.css"/>
</head>
<body>
<!-- 头部 -->
<div id="app">
    <vue-header></vue-header>
    <vue-header-logo></vue-header-logo>
	<!-- 主要内容部分-->
	<div class="wares">
		<p class="title">首页/购物车</p>
		<div class="intro">
		<!-- div 的背景图  图片url接口有问题-->
		<!-- :style = "'background-image:url(http://115.182.107.203:8088/xinda/pic'+fuwu_product.img+');'" -->
			<span class="img" ></span>
			<div class="f-l">
				<!-- 产品名字 -->
				<h2>{{fuwu_product.name}}</h2>
				<p>{{fuwu_product.info}}</p>
				<div class="market">
					<!-- 市场价  取整 -->
					<p>市场价：<span class="p_b">￥{{(fuwu_product.marketPrice/100).toFixed(0)}}&nbsp;&nbsp;</span></p>
					<!-- 价格   保留两位小数 -->
					<p>价&nbsp;&nbsp;&nbsp;格：<span class="red">￥{{(fuwu_provider.price/100).toFixed(2)}}</span>元</p>
				</div>
				<!-- 这个借口根据ID找他的内容   还没有写 -->
				<p>类型：
					<span class="branch">{{fuwu_provider.serviceName}}</span>
				</p>
				<p>地区：{{fuwu.providerRegionText}}</p>
				<div class="clear">
					<p>
						<span class="f-l">购买数量：</span>
						<div class="addorreduce f-l">
							<span>+</span>
							<input type="text" value="1">
							<span>-</span>
						</div>
					</p>
				</div>
					
				<div class="buttons">
					<button  class="bg_b">立即购买</button>
					<button class="bg_b">加入购物车</button>
				</div>
			</div>
		</div>
		<img src="../imgs/add.jpg">
		<div class="fwnr">
			<ul class="order">
				<li @click="surInfo(true)" :class="or_show?'colligate':''">服务内容</li>
				<li @click="surInfo(false)" :class="or_show?'':'colligate'">商品评价</li>
			</ul>
			<ul class="main" v-for="item in fuwu.serviceList" v-if="or_show">
				<li v-html = "item.serviceContent">
					<!-- 这里的内容是循环添加的 -->
				</li>
			</ul>
			<ul class="main" v-else>
				<h2>没有评价</h2>
			</ul>
		</div>
		<div class="ask">
			<div class="bg_w">
				<h2>顶级服务商</h2>
				<p>北京信达服务中心</p>
				<button>马上咨询</button>
			</div>
			<div class="look">查看服务商</div>
		</div>
	</div>
	<!--关于我们 脚部 -->
	<vue-footer></vue-footer>
    </div>
</body>
	<script id="mainScript" src="../js/require.js" data-main="../js/src/wares"></script>
	<script src="../js/config.js"></script>
</html>